/*body {
  padding: 50px;
  font-family: 'Creepster', cursive;
  color:green;
  background-color: peachpuff;
}

a {
  color: #00B7FF;
}*/
body {
  font-family: 'Creepster', cursive;
  color:green;
  background-image: url("/images/yfluff.png");
}
