extends layout

block content
    .row
        .col-xs-12
            h1= title
            p Welcome to #{title}
    .row
        .col-xs-3
            p Bags
            p Shoes
            p Jewels
        .col-xs-3
            img.img-responsive(src='/images/miumint.jpg')
            button.btn.btn-default.center-block Add Wish!
        .col-xs-3
            img.img-responsive(src='/images/miumint.jpg')
            button.btn.btn-default.center-block  Add Wish!
        .col-xs-3
            img.img-responsive(src='/images/miumint.jpg')
            button.btn.btn-default.center-block Add Wish!
    .row
        .col-xs-12
    .row
        .col-xs-3
            img.img-responsive(src='/images/miumint.jpg')
            button.btn.btn-default.center-block  Add Wish!
        .col-xs-3
            img.img-responsive(src='/images/miumint.jpg')
            button.btn.btn-default.center-block Add Wish!
        .col-xs-3
            img.img-responsive(src='/images/miumint.jpg')
            button.btn.btn-default.center-block  Add Wish!
        .col-xs-3
            img.img-responsive(src='/images/miumint.jpg')
            button.btn.btn-default.center-block Add Wish!